<div class="profile-page">
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-center">
            <%= image_tag(@user.avatar, class: "avatar-image") if @user.avatar.attached? %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <h2 class="white-font"><%= @user.full_name %></h2>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <p class="white-font"><%= @user.body %></p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row profile-links" data-controller="clipboard">
          <%= hidden_field_tag(:share_link, user_url(@user.friendly_id), data: { "clipboard-target": "source" }, readonly: true ) %>
          <button onclick="alert('Link copied to clipboard!')" type="button" class="share-button" data-action="clipboard#copy" style="margin-bottom: 40px">
            <span class="share-button-span">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-share me-1" viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
              </svg>
            </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <% @links.each do |link| %>
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                <%= link_to link.url, target: "_blank", class: "linkable btn btn-secondary" do %>
                  <span class="linkable-span"><%= link.title %></span>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-12 d-flex justify-content-center logo-link-container">
              <%= link_to new_registration_path(@user), class: "text-white logo-link" do %>
                <h4>Linktree</h4>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>
